@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* HEADER SECTIONS */
.header{
    background-color: #1C3180;
    padding: 40px 0;
    text-align: center;
}

.header h1{
    color: #FFFFFF;
    font-size: 64px;
}

/* BLOG POST SECTIONS */
.post{
    width: 968px;
    height: 439px;
    margin: 0 auto;
}

.post h2{
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
}

.post img{
    width: 968px;
    height: 439px;
    /* border: solid #FE630E; */
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.37); */
}

.post p{
    width: 968px;
    height: 60px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.post p span{
    color: #FE630E;
}

/* FOOTER SECTIONS */
footer{
    background-color: #1C3180;
}